[2016-09-29 09:45] btxkenshin opened #1 "GetInfoPlistPathAction get the wrong plist path"
![89ce9a1d-ef9a-4f90-8bd3-4488e53e3ce4](https://cloud.githubusercontent.com/assets/1837666/18949030/0f43aa3c-866c-11e6-8c1c-561ae5771e04.png)

Here is the setting:
[code]

Get the wrong Info.plist , should be

`/Source/heihei_ios/Heihei/Heihei/Info.plist`

not

`/Source/heihei_ios/Heihei/Info.plist`

![image](https://cloud.githubusercontent.com/assets/1837666/18949102/67742ae2-866c-11e6-9b8a-33875

[2016-10-07 12:45] SiarheiFedartsou commented on #1
@btxkenshin Could you please make a simple bug demonstration app and fastlane configuration and share it with me please?

[2016-10-07 17:35] SiarheiFedartsou commented on #1
If problem is still happened than re-open issue please.

[2016-10-07 17:35] #1 closed

[2016-12-07 10:03] jsonfellin opened #3 "get_version_number_from_git_branch error"
I'm getting this error message "wrong number of arguments (given 0, expected 1)" whether I add in the `pattern` argument or not. Any ideas @SiarheiFedartsou?

[2016-12-10 17:28] SiarheiFedartsou commented on #3
Hi @jsonfellin! Just fixed your issue and released version 0.2.5. Thanks and be free to open new issues if you will find some bugs.

[2016-12-10 17:28] #3 closed

[2016-12-12 16:38] jsonfellin commented on #3
How do I update to 0.2.5? I tried this command: `fastlane install_plugins`

[2016-12-12 16:51] drosenstark commented on #3
Instructions say to use `fastlane update_plugins`... this won't actually work, however.

[2016-12-12 17:46] SiarheiFedartsou commented on #3
@drosenstark Why it doesn't work? Could you share `fastlane update_plugins` output?

[2016-12-12 18:11] drosenstark commented on #3
Sure, this is the output

[code]

But then on next run I get

[code]

[2016-12-12 18:12] drosenstark commented on #3
This worked, however:

`sudo gem update fastlane-plugin-versioning`

Thanks!

[2016-12-12 18:15] SiarheiFedartsou commented on #3
Hm, maybe there is some issue in fastlane's update_plugins command... I'll try to investigate it later. Thanks for workaround @drosenstark!

[2016-12-13 18:52] drosenstark commented on #3
Glad to help. Let me know if you need any config files from me. Thanks.

[2017-02-07 21:52] ianbytchek opened #4 "Variables are not interpolated in xcodeproj"
I have a project with `INFOPLIST_FILE` containing variables inside of it and apparently Xcodeproj [doesn't](https://github.com/CocoaPods/Xcodeproj/issues/423) support interpolation, so I'm getting this:

[code]

On the other hand `FastlaneCore::Project::build_settings` uses the suggested approach in the above issue and provides correctly interpolated results. Can you please consider using that ins

[2017-02-08 06:35] SiarheiFedartsou commented on #4
@ianbytchek Good notice! Thanks. I'll try to migrate to `FastlaneCore::Project::build_settings`.

[2017-02-08 19:12] SiarheiFedartsou commented on #4
Resolved in version 0.2.6.
Now all used targets must be shared(its `FastlaneCore::Project` requirement) but I think it is not a problem because usually all targets that used with fastlane are shared.

[2017-02-08 19:14] #4 closed

[2017-02-12 11:40] yonaskolb opened #5 "Can't get correct scheme"
I get an error saying `Couldn't find specified scheme'. I believe this is an issue when your specified scheme and target have different names.
The get_info_plist_path seems to want a scheme but the option for it is named target, as you can see on this line
https://github.com/SiarheiFedartsou/fastlane-plugin-versioning/blob/master/lib/fastlane/plugin/versioning/actions/get_info_plist_path.rb#L16
Th

[2017-02-12 13:40] yonaskolb commented on #5
This used to work correctly in 0.2.5

[2017-02-13 07:03] SiarheiFedartsou commented on #5
Hm, yes, I will consider renaming "target" to "scheme" or just adding alias(because this are synonyms in this case).
Also since 0.2.6 to work correctly your scheme(target) must be "shared"(sorry, for this restriction, it was done to fix #4). To make your scheme(target) shared go to "Manage schemes" in Xcode and tick "Shared" checkbox near your target name.

If it will not help, please, let me know

[2017-02-13 10:08] yonaskolb commented on #5
Passing in a scheme to the target parameter would have worked, but I have instead reverted to 0.2.5 as this is a breaking change, and I'd rather not have to pass in a scheme.
In my opinion, it should work passing in a scheme OR a target plus a build_configuration_name if the value is configuration dependant

[2017-02-27 11:03] dyang commented on #5
Same issue here. I'm bypassing this issue by passing in scheme as target. Hope to see a fix. :)

[2017-03-05 15:00] ilyawiz commented on #5
yea - same here. passing scheme name for target name, otherwise the script asks me to select a scheme every time

[2017-03-08 18:08] codyrotwein opened #7 "Anything similar for Android?"
I need to increase the versionCode and versionName for all of my productFlavors in my gradle file. Would nice to have a plugin like this.

[2017-03-10 15:43] SiarheiFedartsou commented on #7
@codyrotwein sorry, no, it is plugin for [fastlane](https://github.com/fastlane/fastlane), not for gradle. And for now we support iOS only. But feel free to add Android support by yourself and make a pull request.

[2017-03-10 15:43] #7 closed

[2017-03-14 19:22] drosenstark commented on #5
@SiarheiFedartsou I'm not following. Is there a bug where you confuse target and scheme or not? Mine are always named the same so I wouldn't notice. Thanks for this plugin!

[2017-04-01 12:14] wongzigii opened #8 "How to change all targets version or build number?"
I am trying to do so to change all targets version or build number at once:

[code]

What I have to do now:

[code]

Is there any proper way to do this?

[2017-04-14 10:28] bangonkali opened #9 "Error Installing Extension"
Command used: `fastlane add_plugin versioning`

[code]

I'm encountering an error installing this extension due to a Gem requirement.

[code]

Logs:
[code]
I don't have MacOSX10.11.sdk but i do have:
[code]

[2017-04-14 11:36] bangonkali commented on #9
Fixed on my end. There was an issue with gem only running on sudo.

**Steps to Fix the Problem**
1. **Do not us** **`sudo`** **in any of the following steps**
1. Make sure that your Mac **DO NOT** have rvm installed.
[code]
1. Install [rbenv](https://github.com/rbenv/rbenv#installation).
1. Install [rbenv-ruby-build](https://github.com/rbenv/ruby-build#installation) extension.
1. Ruby Version 2.4.

[2017-04-14 11:36] #9 closed

[2017-04-23 16:26] SiarheiFedartsou commented on #8
@wongzigii for now this plugin doesn't give such possibility. But I think you can use default fastlane's actions(`increment_version_number`, `increment_build_number`). These actions change versions/build numbers in all targets by default.

[2017-04-23 16:29] #8 closed

[2017-05-08 06:34] yonaskolb commented on #5
Any updates on this?

[2017-06-13 11:46] SiarheiFedartsou commented on #5
Hi all! Finally found a couple of hours to fix this issue :) Just released version 0.2.7.
In 0.2.7 you can pass either `target` or `scheme` to actions. If you pass `target` it will work like 0.2.5, if you pass `scheme` it will work like 0.2.6.
Feel free to re-open this issue in case of similar problems.

[2017-06-13 11:46] #5 closed

[2017-06-13 12:51] gelldur opened #11 "Can't install plugins"
[code]

[code]

[code]
</details>

### fastlane gems

| Gem      | Version | Update-Status |
| -------- | ------- | ------------- |
| fastlane | 2.38.1  | ✅ Up-To-Date  |

### Loaded fastlane plugins:

| Plugin                     | Version | Update-Status |
| -------------------------- | ------- | ------------- |
| fastlane-plugin-versioning | 0.2.7   | ✅ Up-To-Date  |

<details><summary><b>Loade

[2017-06-13 12:54] gelldur commented on #11
On the end `get_version_number_from_plist` and `get_build_number_from_plist` are working....

[2017-06-13 13:13] SiarheiFedartsou commented on #11
@gelldur I think this error is not caused by my plugin. Maybe you should update ruby version or Xcode(I see you have pretty old version 7.3.1)?
Feel free to re-open this issue if you think that problem was caused by this plugin.

[2017-06-13 13:13] #11 closed

[2017-06-13 13:21] gelldur commented on #11
@SiarheiFedartsou I don't know from where it gets XCode version because i have only current version 8.3 ? Something like that

[2017-06-13 13:30] SiarheiFedartsou commented on #11
@gelldur just found a thread with similar problem https://github.com/fastlane/fastlane/issues/7691

[2017-06-13 13:44] gelldur commented on #11
@SiarheiFedartsou ok thx :)

[2017-06-27 13:19] choli commented on #11
@gelldur Any news on this? Running into the same problem. Same 7.3.1 version and osx 10.11 is somewhere, but cannot where to remove it...

[2017-06-27 13:20] gelldur commented on #11
@choli nope. In my case it simply installs (with fails but it is working)

[2017-09-23 11:49] ianbytchek opened #13 "Undefined method `gsub' for nil:NilClass"
Since version 0.2.6 I'm getting this exception with macOS target. It used to happen with 0.2.7 and I remember coming across a similar issue somewhere, apparently it was different. When I revert to 0.2.6, everything works.

[code]

[2017-09-23 13:19] HardikDG commented on #11
Same here it is showing the error in installation, still, actions are working.

I have tried with Sudo/Sudoless if it's permission issue but it fails in installation in both the case

[2017-09-25 20:52] SiarheiFedartsou commented on #13
@ianbytchek Hi! Thanks for reporting it. It will be great if you share some sample project in which issue is reproduced.

[2017-09-25 22:22] ianbytchek commented on #13
Yes, been using target instead of scheme. Changing to scheme gets this back on track. I used target in first place because was concerned that some schemes have multiple targets.

The issue seems to be with using `$(TARGET_NAME)` in `INFOPLIST_FILE`. It works fine with `$(inherited)` though. Have a feeling this is universal, but if not, try this with [CotEditor](https://github.com/coteditor/CotEdit

[2017-11-03 21:31] krantik opened #14 "Support for bitbucket pipeline build number"
As part of the ci_build_number, is there a plan to get bitbucket pipeline build number. It is available as env variable $BITBUCKET_BUILD_NUMBER

[2017-11-07 14:52] ppamorim commented on #11
Same here

[2017-11-08 16:22] SiarheiFedartsou commented on #14
@krantik
Hi, just released version 0.3.1 with Bitbucket Pipelines support in `ci_build_number` action.
Also I will be very grateful if you give this project a star. :)

[2017-11-08 16:22] #14 closed

[2017-11-08 22:16] krantik commented on #14
@SiarheiFedartsou Thank you, it looks good.

[2017-11-28 10:27] ianbytchek commented on #13
@SiarheiFedartsou wondering if this can receive any love? Can I help with anything to make this move forward?

[2017-11-29 19:45] SiarheiFedartsou commented on #13
@ianbytchek Do you really need to use variables in plist path? And why don't you want to use `scheme` instead of `target`?
The main issue with `target` is that we use `xcodeproj` gem to find INFOPLIST_FILE value and there is no obvious way to force `xcodeproj` to resolve $()-shape variables. At least I didn't find it :(

[2017-11-29 20:18] ianbytchek commented on #13
Yes, I have more than a few projects using this with default config based on [xcconfigs](https://github.com/jspahrsummers/xcconfigs) – it's consistent, logical and organised, I'm happy with it.

That's what I do as a workaround and it works. I've originally built all fastlane scripts around `target` parameter – most importantly it is very explicit, but also scheme for target may not exists, scheme

[2017-11-29 20:18] #13 closed

[2017-12-08 21:02] pokono opened #15 "Incrementing Minor Version Format"
Incrementing minor version number should create a version number of the following format: `x.x` instead of `x.x.0`.
This is probably a question of style, but would be great to be able to specify this behaviour.

[2017-12-10 14:21] SiarheiFedartsou commented on #15
Hello! Thanks for the feedback. I've added `omit_zero_patch_version` flag to `increment_version_number_in_plist` action and released version 0.3.3.
So, I think issue can be closed. Feel free to re-open it or create new one in case of other issues.

[2017-12-10 14:21] #15 closed

[2017-12-11 14:15] jackdem opened #16 "undefined method `build_settings'"
Hi

When i call the following code:

[code]

I get the error:

undefined method `build_settings' for nil:NilClass

bundler: failed to load command: fastlane (/usr/local/bin/fastlane)
NoMethodError: [!] undefined method `build_settings' for nil:NilClass

Any idea of the cause is it to do with this plugin as my script works with this code commented out?

[2017-12-13 06:59] SiarheiFedartsou commented on #16
@jackdem Hi! Thanks for reporting it.  It will be great if you share some sample project in which issue is reproduced.
Also could you please try to substitute `target` with `scheme`? Will it work in this case?

[2017-12-13 16:49] connected-space opened #17 "An error occurred while installing unf_ext (0.0.7.4)"
Keep getting this error

An error occurred while installing unf_ext (0.0.7.4), and Bundler cannot continue.
Make sure that `gem install unf_ext -v '0.0.7.4'` succeeds before bundling.

[2018-01-08 16:53] SiarheiFedartsou commented on #17
It seems to be some common Ruby issue. I can suggest you to try some solutions from Google(for ex. this one https://stackoverflow.com/questions/35473812/installing-unf-ext-0-0-7-2-not-working ). And also feel free to re-open this issue if you believe that problem was caused by this plugin.

[2018-01-08 16:53] #17 closed

[2018-01-10 16:18] BernhardHarrer opened #18 "No implicit conversion of nil into String"
Hi,

since fastlane 2.57 i get the following error with increment_build_number_in_plist.

This is how i call it in Fastfile:

`
increment_build_number_in_plist(
  	build_number: ENV["BUILD_NUMBER"],
  	scheme:betaAppScheme
  )
`

/Users/jenkins/.gem/ruby/2.5.0/gems/fastlane-2.75.1/fastlane_core/lib/fastlane_core/project.rb:81:in `expand_path': [31m[!] no implicit conversion of nil into String[0m

[2018-01-10 19:17] SiarheiFedartsou commented on #18
@BernhardHarrer thanks for posting this! Is it possible to make some example project to reproduce this issue?
Also as a workaround you can try to use `target` instead of `scheme`(yes, there are not the same, but sometimes can substitute each other).

[2018-01-11 07:27] BernhardHarrer commented on #18
Hi @SiarheiFedartsou,

thanks for the quick answer. I also tried to use target but it makes no difference. I tried this on new plain (Just created with Xcode) swift project, so nothing special about it.

Best Bernhard

[2018-01-12 13:49] BernhardHarrer commented on #18
Hi,

sorry for this issue, seems like some weird misconfiguration. I moved the fastlane directory and Gemfile, because of other problems and now it works.

Thanks
Bernhard

[2018-01-12 13:49] #18 closed

[2018-01-15 12:50] CYBoys opened #19 "undefined method '[]' for nil:NilClass"
sorry, I don't know that what happened。
I can some target, but some not.Are all calling the same method。

Here is an error。

[20:41:43]: --- Step: increment_build_number_in_plist ---
[20:41:43]: ---------------------------------------------
[20:41:43]: undefined method `[]' for nil:NilClass

[20:41:43]: Unable to find plist file at '/Users/laiyoung_/Documents/QT/QingTui_iPhone/${SRCROOT}/QingTui_i

[2018-01-15 19:10] SiarheiFedartsou commented on #19
@CYBoys Hi, thanks for posting this. Do you have some relative paths in your Info.plist path setting?

[2018-01-16 01:14] CYBoys commented on #19
Thank you for answering！
'/Users/laiyoung_/Documents/QT/QingTui_iPhone/${SRCROOT}/QingTui_iPhone/QingTui_Distribution/QingTui_Distribution.plist'，This path is wrong。
The right should be like this '/Users/laiyoung_/Documents/QT/QingTui_iPhone/QingTui_iPhone/QingTui_Distribution/QingTui_Distribution.plist'.

[2018-01-19 08:01] SiarheiFedartsou commented on #19
@CYBoys Sorry, I think you misunderstood my question. Could you share this value from your build settings?
![Screenshot](https://4.downloader.disk.yandex.ru/preview/30eeaffd295f2f4a5cc36ff7f5f304485d5d5d58f1c387becc3a4343fb156aad/inf/T4xlPBDrhsto4QKNgR0T6T54-lByazFD_6I4cpW8pkN5yo7GK-dyYmHIuxX4l6oHcoA_SI6l3Ld-gllIfJ2-fA%3D%3D?uid=0&filename=2018-01-19_10-58-05.png&disposition=inline&hash=&limit=0&c

[2018-01-19 08:05] CYBoys commented on #19
![image](https://user-images.githubusercontent.com/15981638/35140526-8e8602e8-fd32-11e7-9a95-93c404fd8c04.png)

[2018-01-19 08:11] CYBoys commented on #19
@SiarheiFedartsou But my target is also like that, Such as this is no problem
![image](https://user-images.githubusercontent.com/15981638/35140695-30427904-fd33-11e7-8dfd-6ad2eb5e2156.png)

[2018-01-19 08:12] SiarheiFedartsou commented on #19
@CYBoys It seems that you use `@{SRCROOT}`, but not `@(SRCROOT)`(difference in brackets types). This plugin currently substitutes only `@(SRCROOT)`, I didn't know that Xcode supports curly braces for such kind of variables. So, as a workaround I can recommend you to use `@(SRCROOT)` until I fix it(I think I will in a couple of days).

[2018-01-19 08:17] SiarheiFedartsou commented on #19
@CYBoys just make a double-click on this value and I believe you will see `@{SRCROOT}` there :)

[2018-01-19 08:24] CYBoys commented on #19
So, thank you！

[2018-01-19 08:33] SiarheiFedartsou commented on #19
Keep it open until fix of `${SRCROOT}` issue.

[2018-01-19 08:34] CYBoys commented on #19
ok

[2018-01-19 22:54] SiarheiFedartsou commented on #19
@CYBoys Just fixed this issue and released version 0.3.4. Please check if it is working with curly brackets(with `${SRCROOT}`) after update and feel free to re-open this issue in case of any problems.

[2018-01-19 22:54] #19 closed

[2018-01-30 09:32] jiabibi888 opened #20 "Could not find action, lane or variable 'increment_build_number_in_plist'."
Dear Sir:
My code like :
increment_build_number_in_plist(target: 'XXX')
increment_version_number_in_plist(
    target: 'XXX',
    version_number: '1.0'
 )

but fastlane run with an error:Could not find action, lane or variable 'increment_build_number_in_plist'. Check out the documentation for more details: https://docs.fastlane.tools/actions

I find the new action for fastlane named: increment_bui

[2018-01-30 10:11] ashish-naik commented on #20
You have to install a plug-in 'versioning'. Check plugins section and link
to it's GitHub project.
On Tue, Jan 30, 2018 at 3:02 PM jabir@HLJ <notifications@github.com> wrote:

--

Regards,
Ashish Naik

[2018-01-30 10:42] ashish-naik commented on #20
@jiabibi888 To be more precise, run below to install the plug-in. Run from your project root folder.

`fastlane add_plugin versioning`

[2018-02-01 18:43] piv199 opened #21 "Update major build number to specific one"
Hi, I've just wonder how can I update major build number depending on the lane that is being run?

I have 3 different lanes, and I want override major number when gym the app.

[2018-02-01 21:34] SiarheiFedartsou commented on #21
Hi @piv199! What is “major build number”? There are major part of version number(X in X.Y.Z) and just build number. Which one do you mean? Also regarding your question you can just pass different parameters to `increment_build_number_in_plist` in each lane. You can give an example of your lane code and I think it will be easier to help you.

[2018-02-01 22:18] piv199 commented on #21
@SiarheiFedartsou yeah, I definitely mean X in X.Y.Z. Is there any way explicitly just this number and not update Y and Z.

Thanks for your response.

[2018-02-02 08:37] SiarheiFedartsou commented on #21
@piv199 For now it is possible only if you set version number manually. But I think I can add this ability to some future release.

[2018-02-02 09:16] piv199 commented on #21
@SiarheiFedartsou Thanks very much. If you need some help, let me know)

[2018-02-12 12:29] d1m0nh opened #22 "Add countrycode parameter to get_app_store_version_number"
Please add country parameter to the function get_app_store_version_number.
For app`s  with country restriction addition parameter should be set in the url.

http://itunes.apple.com/lookup?bundleId=#{bundle_id}&country=#{countryCode}

[2018-02-23 20:49] mhilland opened #23 "Error when trying to use increment_build_number_in_plist"
I'm receiving the following error when trying to use `increment_build_number_in_plist` in combination with the fastlane function `latest_testflight_build_number`. It's saying:

[!] 'build_number' value must be a String! Found Integer instead.

I was under the impression that I'd be able to use the two in combination the same way as fastlane's native `increment_build_number`, as documented here: ht

[2018-07-03 03:32] KieranLafferty opened #25 "Explicitly defint plist path"
Hey there, wondering if it's possible to just explicitly set the plist_path using this plugin? Problem I am facing is that the build number is updating my App target but can't find my Notification target. Would be much simpler for me if I could just specify the paths to each of the info plists instead.

Thanks for the help!

[2018-08-07 11:04] vishal-zendrive opened #26 "increment_version_number_in_plist removes the location permission descriptions from the plist"
I am using xcode 9

[2018-08-09 05:29] SiarheiFedartsou commented on #26
Hi! Thanks for reporting it. Could you provide simple example project demonstrating the issue?

[2018-08-14 15:58] joaom182 commented on #9
@bangonkali Following your steps, now i have the following error:

[code]

[2018-09-28 07:25] st-small opened #29 "error when try to increment one of the different target in my project"
Thank you very much for your plugin. But I have trouble and want to fix it. I have project with multiple targets and each of them has different build number. I want to get current build number of the target and increment it. This is my example:
[code]

I have error message: 'no implicit conversion of nil into String'. What does it mean?
Thank you very much for help.

[2018-09-28 09:31] st-small commented on #29
I'm very sorry. It was my misunderstood and I found my mistake. I thought that increment should shows  in Xcode Info tab after script finished. But Xcode updates build number value only(!) after reload the program. Plugins works perfect and I'm happy. This is my last update of the Fastlane file:

default_platform(:ios)
project = './CoreFrameworkApp/CoreFrameworkApp.xcodeproj'
target = 'Demo'
#####

[2018-09-28 09:36] st-small commented on #29
I'm very sorry. It was my bag. I misunderstood how plugin works. I thought after plugin finished it should update build value in Xcode Info tab. And worried why it didn't updates. But now if I reload my Xcode project it updates successfully. So plugin works perfect! Thank you! My last Fastlane file for example:
[code]

[2018-09-28 09:37] #29 closed

[2018-11-15 19:37] ApoorvKhatreja opened #32 "Add support for fetching App Store build number"
Right now, there's a fastlane action [`app_store_build_number`](https://docs.fastlane.tools/actions/app_store_build_number/) that can be used to fetch the build number that is live in the App Store, and there's a `get_app_store_version_number` action in this plugin to fetch the version number. It seems unnecessary to have to call two different methods for what is essentially related information. I

[2019-02-04 06:59] nemoeslovo commented on #25
have you tried to use `target` option and provide your extension target name there?
I ended up having 2 calls to update both main and push extension build number

[code]

[2019-03-19 21:19] xotahal commented on #32
Why would you get the build number from the app store? Isn't called build number because it is a reference to your build system? So you can track back where was actually built the release?

I just wrote [a plugin](https://github.com/xotahal/fastlane-plugin-semantic_release) which I believe supports this versioning plugin. The plugin can retrieve the next release version by analyzing GIT history so

[2019-03-20 14:18] ApoorvKhatreja commented on #32
@xotahal I have a lane in Fastlane that "announces a new release" to the rest of the team in a Slack channel when it gets approved and moves to the "Ready for Sale" status on the App Store. When this happens, I've usually moved on to working on a newer release, so the build number from my own system almost certainly won't match what is on the App Store. The build number is essential information fo

[2019-03-20 18:42] xotahal commented on #32
Why isn't the version essential for them? The version should provide information about changes in the product. Why is it build number? I think that build number should be autoincremented always when you run the build.

[2019-03-20 18:47] ApoorvKhatreja commented on #32
@xotahal The version number and build number are both essential. Here's what a sample Slack message looks like.

The build number is essential for tying external things such as crash logs to a specific version of the code, and with auto-incrementing behaviors it is really hard to do that. In the Apple/mobile world, this is often the way people use build number (contrary to the web). Anyway, the ne

[2019-03-20 19:23] xotahal commented on #32
Yeah sure, I am not saying that build number is not important. Here's what I would think about a version change:

`v4.6.7/280` -> New version. Let's try it.
`v4.6.8/290` -> Ok. Someone fix a bug in the version `4.6`
`v4.7.0/294` -> Boom. A new feature available. What's there?
`v4.7.0/295` -> Someone run the build. But why, when there is nothing changed in the code?

I still don't understand those

[2019-03-20 19:28] ApoorvKhatreja commented on #32
@xotahal Version number and build number combinations are not unique. Internally, when planning a new release, the version number is finalized first. Lets say for example we decide the next release will have the version number `5.0.0`. Build number right now is `200`. Work starts and can sometime take several months.

Over the course of several months, all internal development/debug builds, QA bui

[2019-03-20 19:45] xotahal commented on #32
Well, understand now how you work with the version and why you need the build number. But don't understand why you work like that. You make version absolutelly useless. All tools work with version but you see `v5.0.0` all 7 months long (while you working on the new version).

#### I can see the conversations:
Hey what version do you have on your phone?
John: "I have 5.0"
Jim: "I have 5.0"
Matt: "I

[2019-03-20 19:54] ApoorvKhatreja commented on #32
@xotahal I wish I could take credit for this versioning system, but this is all Apple 😃 All iOS apps distributed via the App Store and TestFlight work this way.

- Every time you upload a build with a new version number, it must go through review before being distributed to external testers.
- If you are merely iterating/fixing issues in a release, Apple expects you to keep the same version number

[2019-03-20 20:16] xotahal commented on #32
That's probably not what would have apple introduced. It is just a way how to skip the apple review. But I think that the test flight review is not as long as a review for the app store. And you can still use internal testing (that's I think without the review) or services as HockeyApp, etc.

[2019-03-27 14:38] joshfriend opened #34 "Consider using CI_PIPELINE_IID for gitlab"
`CI_PIPELINE_ID` is shared between all projects and will increase _very_ rapidly if you have lots of projects and builds, whereas `CI_PIPELINE_IID` is:

Some caveats:

* `CI_PIPELINE_IID` is only available for gitlab v11.0 and higher
* Anyone currently using the other `CI_PIPELINE_ID` will be unable to just switch over because that would cause the build number to decrease.

[2019-05-01 21:23] alexpareto commented on #18
To others who run into this issue, it was due to my xcodeproj not being in my root directory (the default). Configuring it as below solved the issue:
[code]

[2019-05-24 07:42] tirrorex opened #36 "Path for pods project is not the proper one"
The setup is a library (specifically a private pod).
We have at the root directory the _Pods.xcodeproj, the fastlane dir and the Example folder (which contains the workspace and other files).
When trying to increment my library target, fastlane gives me the error :

      bump_type: type, # Automatically increment minor version number
      xcodeproj: "_Pods.xcodeproj",
      target: 'TEST' # or `

[2019-05-24 07:50] tirrorex commented on #36
Went the fastest way being modifying directly the related plist.

[2019-07-22 13:46] uditb commented on #20
@ashish-naik I am getting below error -
An error occurred while installing unf_ext (0.0.7.6), and Bundler
cannot continue.
Make sure that `gem install unf_ext -v '0.0.7.6'` succeeds before bundling.

trying to run `fastlane add_plugin versioning`

[2019-09-27 09:59] ivanichoo opened #37 "Xcode 11 > $(MARKETING_VERSION)"
Hello!
Xcode has changed its version key for build version. It is now $(MARKETING_VERSION).
Any update soon?
Thanks!

[2019-10-11 02:35] Lyine0924 commented on #37
see this issue [15322]
(https://github.com/fastlane/fastlane/issues/15322)
I thinks it will fix after version.

[2019-10-17 11:12] evgeniybaranov commented on #37
hi, any news?

[2019-10-21 19:40] jdouglas-nz commented on #37
Hi @evgeniybaranov  - sorry for the long response. I have recently become a contributor, and am working on this now!

[2019-10-21 19:41] jdouglas-nz commented on #37
The way it is going to work -- I am defining a couple new actions for explicitly interacting with the xcodeproject version metadata, or alternatively you can pass in a new flag to the existing plist methods, which will on detecting the $(BUILD_SETTING) type format of value, try and resolve from the xcodeproject.

[2019-10-29 21:12] bgold0 commented on #37
Thanks so much for working on this @jdouglas-nz

[2019-10-30 03:53] jdouglas-nz commented on #37
hey all. sorry for the slow turn-around on this one. Life has gotten real busy real fast.

I have an open PR [here](https://github.com/SiarheiFedartsou/fastlane-plugin-versioning/pull/39) -- if any of you are Ruby devs by trade or know a lot of Ruby please feel free to have a look.

Also, Please let me know if the way it would work still works for your use-cases.

For example -- if you don't provi

[2019-10-30 04:04] jdouglas-nz commented on #21
@piv199 - do you currently have a build number that consists of `X.Y.Z` along with a version number that consists of `A.B.C` ?

<img width="709" alt="xcode_build_version" src="https://user-images.githubusercontent.com/5598566/67828151-386dbe00-fb37-11e9-953a-0db298344f40.png">

i.e. using the image as a guide - does your `X.Y.Z` show up in the build field in xcode? (where the '12' is)

[2019-11-05 06:45] jdouglas-nz commented on #34
@joshfriend  - I'll patch this in! I'll have it return the `CI_PIPELINE_IID` , if it is present, or alternatively fall back to the `CI_JOB_ID` (which is what it does currently)

[2019-11-05 07:22] jdouglas-nz commented on #37
@ivanichoo / @evgeniybaranov - if you haven't already - please update to v0.4.0 and check the new instructions on how to either make the existing plist getter/setters 'magically' move to a xcodeproj build setting (hint `plist_build_setting_support` flag) or switch to the new xcodeproj getters/setters. If the new functionality does what you need, please close this issue 👌

[2019-11-05 07:24] jdouglas-nz commented on #22
@d1m0nh - how would you propose the 'default' would work?
as in, if I didn't pass in a country code, what should happen to the url that is formed?  the only thing I can think of is either no countrycode parameter, or perhaps there is some locale stuff in env vars we could dig into. definitely no countrycode is easier.

[2019-11-05 07:30] jdouglas-nz commented on #36
@tirrorex - was wondering if there is any reason for you to bump the pods project version info? every time you run a `pod` command -- be it `install` or `update` -- the project is regenerated, no? I haven't really looked into whether it is a 'destructive' change or not. Especially in context of the `info.plist` file.

Also, as I've just worked on adding support for it, I should mention that Xcode1

[2019-11-05 18:13] joshfriend commented on #34
#40

[2019-11-06 20:39] caioremedio opened #41 "Error when using increment_version_number_in_xcodeproj"
Im getting the following error when trying to run `increment_version_number_in_xcodeproj`

[code]

What I'm currently doing:
[code]

Versions installed:
[code]

Any thoughts? Thanks.

[2019-11-06 21:00] jdouglas-nz commented on #41
@caioremedio - yes ! oh man. There is a copy paste error in that action.
apologies -- I'll whip up a fix for you shortly.

[2019-11-06 21:43] caioremedio commented on #41
Ayt, thanks @jdouglas-nz :)

No hurry!

[2019-11-12 13:20] joliejuly commented on #37
@jdouglas-nz hey there, I checked v0.4.0, and it works perfectly in my project. Thank you so much! Could you, please, provide a link to the new instructions about `plist_build_setting_support` flag?

[2019-11-12 19:08] jdouglas-nz commented on #37
@joliejuly no worries! If you hadn’t found it I would’ve sent you that way anyhow 😬

Please let me know if those ‘instructions’ are enough or if you’d like me to elaborate 👌

[2019-11-12 19:08] ivanichoo commented on #37
works great ! thanks ! 👍

[2019-11-13 07:29] batashovp commented on #37
Hello!

I use latest version but there are no support for plist_build_setting_support in increment_build_number_in_xcodeproj method.

    increment_build_number_in_xcodeproj(
      plist_build_setting_support: true,
      target: ENV['TARGET']
    )

[REDACTED] fastlane-plugin-versioning [REDACTED] 0.4.0   [REDACTED] get_version_number_from_git_branch    [REDACTED]
[REDACTED]

[2019-11-13 08:21] joliejuly commented on #37
@jdouglas-nz The docs look very comprehensive to me 👍. Thank you!

[2019-11-14 18:12] jdouglas-nz commented on #41
@caioremedio please update and let me know how you go! 👌

[2019-11-18 06:01] eligat opened #43 "increment_build_number_in_plist fails"
In my project there are multiple targets, and even though action `get_build_number_from_plist(target: target, plist_build_setting_support: true)` retrieves correct build number,
`increment_build_number_in_plist(target: target, plist_build_setting_support: true)`
fails with error:
[code]

[2019-11-18 13:16] rfischer commented on #43
I had a similar problem with the action `increment_build_number_in_xcodeproj`. Using the unreleased version 0.4.2 solved it for me. See also https://github.com/SiarheiFedartsou/fastlane-plugin-versioning/issues/41

[2019-11-19 11:47] nick3389 commented on #41
@jdouglas-nz Is there any update on that? The version is still 0.4.0

[2019-11-19 20:23] jdouglas-nz commented on #43
sorry guys. I released 0.4.2 just now - please update and see if that helps!

[2019-11-20 13:23] eligat commented on #43
Great! Version 0.4.2 fixes the issue. Thanks!

[2019-11-20 13:23] #43 closed

[2019-11-20 19:08] jdouglas-nz commented on #41
@nick3389  - sorry! I released a new version yesterday.

[2019-11-21 08:45] Robotex opened #45 "[!] undefined method `split' for nil:NilClass (NoMethodError)"
Traceback:
[code]
Code:
[code]

[2019-11-21 11:16] nick3389 commented on #41
@jdouglas-nz Just updated and it works ok! thanx!

[2019-11-21 20:37] jdouglas-nz commented on #45
interesting.. I swear there are tests covering pure ints as build numbers. let me have a look

[2019-11-21 20:38] jdouglas-nz commented on #45
I reckon there is some interesting things to do with specifying a target.
the closest test looks like this one.

[code]

[2019-11-25 20:52] caioremedio commented on #41
@jdouglas-nz Sorry for taking too long, I was out of town this week.

Just updated and it worked like a charm. Thanks for fixing!

[2019-12-18 05:21] luowei commented on #37
我是使用 Xcodeproj 库顺利的解决了xcode11下fastlane 通过get_version_number获取不到版本号的问题。如下：
在Gemfile里添加：`gem "xcodeproj"`
[code]

[2019-12-21 21:43] 942v opened #47 "Error with increment_version_number_in_xcodeproj when setting scheme"
Hi,

When I execute:

`increment_version_number_in_xcodeproj(
        bump_type: bumpType,
        scheme: scheme
      ) `

It's changing all the configurations to the new value calculated from the correct scheme.

So basically I have 4 schemes:

Marketing versions:
A: 1.1.1
B: 2.2.2
C: 3.3.3
D: 4.4.4

When I do
`increment_version_number_in_xcodeproj(
        bump_type: patch,
        scheme: D

[2020-01-16 03:42] prathmeshranaut commented on #47
This function isn't coded in https://github.com/SiarheiFedartsou/fastlane-plugin-versioning/blob/master/lib/fastlane/plugin/versioning/actions/increment_version_number_in_xcodeproj.rb

The above PR fixes your issue.

[2020-01-17 02:14] 942v commented on #47
nice thx!

[2020-03-27 17:21] dlargen33 opened #50 "undefined method `resolved_build_setting' for nil:NilClass"
When trying to execute the action   increment_build_number_in_plist(target: "name") it is failing with   undefined method `resolved_build_setting' for nil:NilClass

I  am new to fastlane so let me know what you need to help debug this.

[2020-03-30 22:12] ppamorim opened #52 "get_version_number_from_xcodeproj and get_build_number_from_xcodeproj causing "Unknown method 'plist'""
Hi, I have a project where these values are set with `$(MARKETING_VERSION)` for bundle version string and `$(CURRENT_PROJECT_VERSION)` for bundle version.

I am getting this error:

[code]

By removing `build_configuration_name: 'Release'` it's working now. But it still a bug, no?

[2020-03-31 20:02] jdouglas-nz commented on #50
hey @dlargen33,
my first thought would be to confirm whether the script you're running has the right context.
By context I mean, that you are either `cd`'ed into the directory with the `.plist` or that you pass a valid path to one.

[2020-03-31 20:02] jdouglas-nz commented on #47
@942v  - I have finally merged this. apologies for the lag time. Please update and give it a go.

[2020-03-31 20:06] jdouglas-nz commented on #45
@Robotex  -
looking at your stack trace - it points to this line:
```  build_array = current_build_number.split(".").map(&:to_i) ```
To me, that looks like it would cover it..

Is it just a single digit, i.e. `1000` / `1` or something like `1.2.3` ?
If it's something else, please respond back with a couple examples

[2020-03-31 20:08] jdouglas-nz commented on #16
Closing this due to inactivity. If you still have this issue, please open another ticket for me :)

[2020-03-31 20:08] #16 closed

[2020-03-31 20:09] jdouglas-nz commented on #21
Closing this due to inactivity. If you still have this issue or want further help, please open another ticket for me :)

[2020-03-31 20:09] #21 closed

[2020-03-31 20:09] jdouglas-nz commented on #22
Closing this due to inactivity. If you still have this issue or want further help, please open another ticket for me :)

[2020-03-31 20:09] #22 closed

[2020-03-31 20:10] jdouglas-nz commented on #23
Closing this due to inactivity. If you still have this issue or want further help, please open another ticket for me :)

[2020-03-31 20:10] #23 closed

[2020-03-31 20:12] jdouglas-nz commented on #25
@KieranLafferty  - does doing a couple of invocations suffice?

[2020-03-31 20:14] jdouglas-nz commented on #26
I'm going to close this ticket due to inactivity. Please open one if you are still having issues!

[2020-03-31 20:14] #26 closed

[2020-03-31 20:19] jdouglas-nz commented on #36
@tirrorex  - I'm going to close this for now, but please reopen if you haven't solved this issue.

[2020-03-31 20:19] #36 closed

[2020-03-31 20:19] #37 closed

[2020-03-31 20:21] #47 closed

[2020-04-07 00:53] kevint727 opened #53 "get_build_number_from_xcodeproj produces NoMethodError: undefined method `resolved_build_setting' for nil:NilClass when using sorted array"
I get an error whenever I try and do a sort on the array of environment variables prior to doing the rest of my work. Driving me crazy trying to figure out what is wrong.

schemeList = Dir.glob(".env.*")
schemeList = schemeList.sort
schemeList.each do |file|
      	Dotenv.overload(file)
     	yield
end

if ENV['SCHEME'] != nil
		puts(ENV['SCHEME'])

	build_number = get_build_number_from_xcodeproj(

[2020-06-12 09:01] alouanemed commented on #52
I am using the latest version and this still occurs.

[2020-06-24 18:47] lukecharman commented on #52
Still seeing this in 0.4.3

[2020-06-24 21:04] jdouglas-nz commented on #52
@lukecharman / @alouanemed : could you please send some snippets of fastfiles so I can figure out what about your setups I haven’t accounted for ?

[2020-07-01 20:53] kevint727 commented on #53
Still haven't received a response to this question...

[2020-07-01 21:58] jdouglas-nz commented on #53
@kevint727,

Apologies for late response.

Here’s a couple thoughts I had looking at the snippets you’ve sent.

on the .each:
I am curious why you need the yield actually.
could you try putting the build_number block inside of the .each? Just everything that you’d want to do for each of your .env files - try put it in the .each, and try removing the yield. I haven’t really used yields in my ruby t

[2020-07-02 22:13] kevint727 commented on #53
The SCHEME env cars are definitely not malformed and do declare a scheme. It also works perfectly when I remove your plugin call. I also reworked the script to not have "yield" in it and that did not fix the problem.

[2020-07-02 22:17] jdouglas-nz commented on #53
@kevint727, do you run a post xcode11 style of version/ build number? (Where the plist values are build settings). Or a pre xcode11 style? (Where the plist holds the actual values)

I’d love to add a unit test to the test suite and ensure that your issue is resolved. Would you be able to share some of your setup ?

[2020-07-02 22:28] kevint727 commented on #53
I'll look into that ASAP and here is a shortened script that I am currently testing with and fails. It does work perfectly if you remove the "schemeList = schemeList.sort" line.

desc "Create new buildTest3"
  lane :buildTest3 do |options|
	startEnv = options[:startEnv]
	schemeList = Dir.glob(".env.*")
	schemeList = schemeList.sort
	schemeList.each do |file|
		Dotenv.overload(file)
		puts(ENV['SCH

[2020-07-02 22:40] kevint727 commented on #53
My Xcode targets and project have the versioning system set to "none."

I am using Xcode 11. And my plists pull from build settings.

[2020-07-02 23:13] jdouglas-nz commented on #53
@kevint727 this one seems tricky! I’m struggling to see the link between the .sort line and a nil scheme. Especially if it works without the .sort..

I ran your lane in a work project, and it works - with the sort :(

Hate to ask, but is there any chance of you redacting/obfuscating your .env files / project file so that I can experiment in an environment closer to yours?

[2020-07-02 23:47] kevint727 commented on #53
OMG, I just figured out the problem. It was totally my fault... It just so happened that out of the 80+ .env files, when sorting, the one it started out with did indeed have a scheme, but the scheme casing in the .env file did not match the target's casing. Example: FooBar vs FOOBar. That was apparently not a problem for anything else I'm doing (my scripts are much more complicated than what I sen

[2020-07-03 00:01] jdouglas-nz commented on #53
@kevint727, that is great news!

not a problem at all!
I’m glad it’s working for you!!

[2020-07-03 00:02] jdouglas-nz commented on #53
@kevint727 I’ll close this issue for now, but feel free to raise any more !

[2020-07-03 00:02] #53 closed

[2020-08-17 19:55] jefferythomas opened #55 "get_version_number_from_xcodeproj with target and build_configuration_name cases an error"
[code]

results in

[code]

get_version_number_from_xcodeproj.rb:44
[code]

should be

[code]

[2020-08-17 20:13] jefferythomas commented on #52
Sorry, I created a dup (https://github.com/SiarheiFedartsou/fastlane-plugin-versioning/issues/55). Here is what I found. When you have a `target` and a `build_configuration_name`.

get_version_number_from_xcodeproj.rb:44
[code]

should be

[code]

[2020-08-17 20:14] jefferythomas commented on #55
This is duplicate of (https://github.com/SiarheiFedartsou/fastlane-plugin-versioning/issues/52)

[2020-08-17 20:14] #55 closed

[2020-08-18 21:57] jdouglas-nz commented on #55
@jefferythomas  thanks for the hint! I'll get on the fix now

[2020-08-18 22:39] jdouglas-nz commented on #52
hey team, was hoping someone could have a quick skim through my PR #56 - when I first wrote one of the tests, it crashed which is great! I then made the suggestion @jefferythomas suggested, then said crash went away. My apologies for the crash in the first paste.. copy-paste is dangerous.

[2020-09-14 00:20] jdouglas-nz commented on #52
oof. well, its live now. I just took silence as the delta seems legit. Please reopen this ticket if you are still having issues!

[2020-09-14 00:20] #52 closed

[2020-09-18 13:46] devzhr opened #57 "Bug after call versioning"
Hi,

in my info.plist file after the change of version, I have the `l'option` of text because in French but saved with the `l&#39;option`

cordially

[2020-11-09 16:52] lekeCoder opened #58 "Get list of builds in testflight and app store"
I am trying to fetch the list of builds `version` and `build_number` using Fastlane pilot builds but I keep getting this error: `[pilot] Fix TypeError in `list` by ignoring nil counts`.
I want something like this:
+-----------+---------+----------+
|      Great App Builds          |
+-----------+---------+----------+
| Version # | Build # | Installs |
+-----------+---------+----------+
| 0.9.13

[2020-11-11 01:18] jdouglas-nz commented on #58
Hey @lekeCoder, thanks for reaching out!

I'm not sure exactly what you're trying to achieve, but something definitely shouldn't be spitting out that message.

The one thing that stands out to me is the `[pilot]` word in the print.

Pilot is a [fastlane action](https://docs.fastlane.tools/actions/pilot/) for uploading builds to testflight. From what I can tell of the closest [plug-in action](https

[2020-11-18 13:58] simonbromberg commented on #45
Also having this issue. I was able to get the current build number with `get_build_number_from_xcodeproj(…)` and it is giving me a simple number like I expect (e.g. `2`) but when I do `increment_build_number_in_xcodeproj` it seems that the value it's getting is nil?

[2020-11-18 14:50] simondelphia opened #59 "Running actions replaces Swift Package Manager project file labels with generic names"
When I run e.g. `increment_version_number_in_xcodeproj`:

     increment_version_number_in_xcodeproj(
         xcodeproj: PROJECT_PATH,
         bump_type: options[:bump_type],
         scheme: SCHEME_PROD
    )

It runs xcodebuild with a `-resolvePackageDependencies` flag, and then it replaces all the SPM specific names in the project file with generic things like `RemoteSwiftPackageReference` `S

[2020-11-18 18:07] lekeCoder commented on #58
@jdouglas-nz thank you and sorry for the late reply. I found the right solution which is ```fastlane pilot builds```. This will list the builds in a tabular form.

[2020-11-18 18:07] #58 closed

[2020-11-20 23:24] seanmalone-redibs opened #60 "increment_build_number_in_xcodeproj with scheme throws an error"
When running with the following parameters:
[code]
I get the following error:
[code]

Looking at the source code for `set_build_number_using_scheme` it has this line:
```project.build_settings["CURRENT_PROJECT_VERSION"] = next_build_number```

It looks like `project.build_settings` is a getter that returns the value for a given key. Unfortunately, it's not a setter for the build settings.

Please

[2020-11-20 23:31] seanmalone-redibs commented on #60
One additional note: I had to include `build_configuration_name`; otherwise, `scheme` was ignored and all schemes are updated. Not sure if this intentional? If so, it seems a bit misleading. If `build_configuration_name` is required when `scheme` is provided, can it throw an error instead of falling through to _all_?

[2021-01-24 23:13] jdouglas-nz commented on #60
Hey @seanmalone-redibs  - sorry for a lengthy response. I spent some time looking into this, and was wondering if this 'myapp' / 'Development' input was for a fresh, mostly out-of-the-box xcodeproject or not?
I setup a small test locally with the closest thing I could guess was your project (renaming Debug -> Development, same project name), and had the same crash, _until_ I manually set the build

[2021-03-06 01:25] donileo commented on #59
I am seeing this same issue and it is very annoying 😞. Any idea when this will be looked at?

[2021-03-06 21:12] jdouglas-nz commented on #59
Hey Guys,

Do one of you have a small dummy project that I can repo in and add to the tests to fix?
I have a feeling this is a behaviour of [Xcodeproj](https://github.com/CocoaPods/Xcodeproj) - but I'll dig in deeper later today

[2021-03-06 22:51] donileo commented on #59
@jdouglas-nz I did a bit of digging and also believe this is a behavior of Xcodeproj. I believe they fixed this here: https://github.com/CocoaPods/Xcodeproj/commit/bfe0a6d8082f7adb59d662272b6943af37d20976  but it hasn't made it to an actual release from them as the latest release 1.19.0 doesn't include that commit.

[2021-03-06 22:59] jdouglas-nz commented on #59
@donileo I'm sure ( hopefully ) it's possible for me to target a commit for a dependency of this lib. I'll run this through a unit test and confirm that this happens for me, target that commit in particular (temporarily until it is released for realsies), release, and then re-release by removing that commit freeze "hack". How's that sound?

[2021-03-06 23:11] donileo commented on #59
@jdouglas-nz Here is a test project. Has some swift dependencies and a couple of schemes for dev/stage/prod. https://github.com/donileo/test_ios_repo.git. Sounds good. Hopefully you can pin xcodeproj to a newer version, I actually tried but wasn't able to, I'm not a ruby/gem expert in anyway though.

[2021-03-07 00:42] jdouglas-nz commented on #59
@donileo TY for the test project! I can repro - which is always a good start :)
stay tuned caller, working on this today!

[2021-03-07 01:07] jdouglas-nz commented on #57
Hey, I might be inadvertently fixing this as a result of another issue (#59) I'm working on - basically a downstream dependency seems to serialise `.xcodeproj`'s differently to Xcode. I'll ask you to try again once the work has been done

[2021-03-07 01:10] jdouglas-nz commented on #60
@seanmalone-redibs  - did this help you with your issue?

[2021-03-07 05:20] jdouglas-nz commented on #59
Small update:
I've pointed Xcodeproj at a commit after the change in serialisation (ty @donileo!).
Unfortunately, my test still fails :(
I'm going to call it a day for today - but if anyone wants to have a go at it - my WIP is [here](https://github.com/jdouglas-nz/fastlane-plugin-versioning/tree/bugfix/%2359-swiftpm-saving-files).

I noticed that with @simondelphia's invocation - all the Schemes i

[2021-03-09 06:50] jdouglas-nz commented on #59
Decided to change tack and look at hacking a bit.
If I assume that there is a containing git repo - I'm might monkey around with the diff by writing it out to a file, then reapplying an edited diff without those changes.
I might raise a guidance issue with Xcodeproj too.

Quick question - this is a reasonable amount of work - if you guys were to commit the changes (as in, the `BuildFile in Framewo

[2021-03-09 07:23] simondelphia commented on #59
Yes, any time the project file is modified (e.g. add/remove a file or moving a file in the project navigator) the non-generic form returns.

[2021-03-16 16:38] seanmalone-redibs commented on #60
@jdouglas-nz Thanks for the reply and sorry for the delayed response. Are you saying that if we need to manually set the build and project version once and then the plugin will update properly from that point on?

[2021-03-16 18:10] jdouglas-nz commented on #60
@seanmalone-redibs it worked for me at least! I don't think I didn't something other that that to get it working. Please give it a go !

[2021-03-16 18:39] seanmalone-redibs commented on #60
Thanks! It works now. I guess I didn't have a default set.

[2021-03-22 19:31] donileo commented on #59
@simondelphia @jdouglas-nz I believe this issue has actually been fixed on xcodeproj. Its just that a release with this fix has not been made as it was fixed after 1.19. Please see https://github.com/CocoaPods/Xcodeproj/pull/799. I wouldn't do any additional work beyond seeing if you can get `fastlane-plugin-versioning` to pin to the latest commit of `xcodeproj` as a required library for this proj

[2021-03-22 19:39] simondelphia commented on #59
Yea looks like they're a bit overdue for a release

[2021-03-22 19:45] jdouglas-nz commented on #59
@donileo @simondelphia I definitely can pin to whatever commit is on the latest master. I'd just rather be able to make sure that it actually fixes the issue 😅 I couldn't confirm that when I tried, but if you guys are ok, I can push out a gem targeting the latest master

[2021-03-22 19:46] donileo commented on #59
In my case I added `gem 'xcodeproj', github: 'CocoaPods/Xcodeproj', ref: 'f9203916f67163cf739141c36162ffc679bf30da'` to my `fastlane/Pluginfile` and I think that’s giving me the desired effect of having `fastlane-plugin-versioning` using it as well. 🤞

[2021-03-22 19:54] donileo commented on #59
@simondelphia can you test my suggested workaround above ^^^ and see if it works to resolve this issue? As far as I can see from my end I believe it does but can't say 100% as of right now.

[2021-03-22 20:00] simondelphia commented on #59
Hm well I don't see the issue with the generic labels but now I am seeing files previously listed as `(null)` turning into `BuildFile` and Swift package references changing from eg `XCRemoteSwiftPackageReference "firebase-ios-sdk"` to `XCRemoteSwiftPackageReference "firebase-ios-sdk.git"`

These also go away if you change something in the project file, so I guess the issue isn't resolved (at least

[2021-03-22 20:10] donileo commented on #59
These are two separate issues:

1. The null turning into `BuildFile` is a good thing. I think that’s an artifact of something else that changed it (erroneously) to Null.. So this is just undoing that.. I believe Xcode will do the same thing on you touching anything in Swift packages.

2. The XCRemoteSwiftPackageReference "firebase-ios-sdk" to XCRemoteSwiftPackageReference "firebase-ios-sdk.git" is

[2021-03-22 20:20] jdouglas-nz commented on #59
@donileo @simondelphia - hold the phone folks. I just realised my test project was the result of running fastlane-versioning-plugin on the project, as in, it was already `Buildfile in <>`. I have a green tick now! preparing a release.

[2021-03-22 20:22] simondelphia commented on #59
Haven't seen Xcode do this, do you have any steps to achieve it?

[2021-03-22 20:25] donileo commented on #59
@simondelphia

1. Undo any changes that you may have added (put back your .pbxproj back to the way it was.. with the (null) in place of the BuildFile.
2. Go into Xcode and then tap on the Project and then Swift Packages.. Then double click any swift package you have there.. In the popup leave everything as is.. Then hit ok..
3. Check if your (null)'s got modified into Buildfile.

[2021-03-22 20:31] donileo commented on #59
@simondelphia

Undo any changes that you may have added (put back your .pbxproj back to the way it was.. with the (null) in place of the BuildFile.
Go into Xcode and then tap on the Project (not the target) and then Swift Packages. Then double click any swift package you have there.. In the popup leave everything as is. Then hit ok. This is my procedure for resetting pbxproj back to normal.
Check

[2021-03-22 20:42] simondelphia commented on #59
No, nothing changed unfortunately.

[2021-03-22 20:52] donileo commented on #59
@jdouglas-nz So some more digging..

I'm curious why for something as simple as bumping a version number which entails incrementing a number: `FastlaneCore::Project.new()` needs to invoke `xcodebuild` with `resolvePackageDependencies`. Looking at https://github.com/fastlane/fastlane/blob/d6256d62c3da0a559acfa6f66a6b4a1955e9ecd8/fastlane_core/lib/fastlane_core/project.rb#L382 it seems that there is

[2021-03-22 21:17] simondelphia commented on #59
Oh yea I was wondering the same thing a while ago

[2021-04-26 00:16] benomatis opened #62 "target ignored in increment_version_number_in_xcodeproj"
I have 2 targets, and I only would like one of them to be changed, so I set the `target` option on `increment_version_number_in_xcodeproj` but it appears to be ignored, my other target is still updated.

[2021-04-28 19:59] n0490b opened #63 "Error when running increment_version_number_in_xcodeproj with scheme and build configuration"
When I execute `increment_version_number_in_xcodeproj(scheme: "MyApp", build_configuration_name: "Release", bump_type: 'minor')` I get the error

	`set_version_number_using_scheme': \e[31m[!] undefined method `[]=' for nil:NilClass\e[0m (NoMethodError)

`get_version_number_from_xcodeproj(scheme: "MyApp", build_configuration_name: "Release")` works and returns 3.3.0

Error

[code]

I believe I have

[2021-04-28 21:40] jdouglas-nz commented on #63
Hey @n0490b,

Thanks for the code snippet ! I think this will actually help with another issue about a 'over zealous' version update. I know this 'nil' business can also be the result of not having first set a version/build through Xcode's UI. Your change makes total sense - if you feel like it, fork away and make that change! ❤️

[2021-04-28 21:40] jdouglas-nz commented on #63
Otherwise - I'll see if I can find a few mins this weekend 😅

[2021-04-28 22:05] n0490b commented on #63
hey @jdouglas-nz do you mean create a fork and make a PR?

[2021-04-28 22:07] jdouglas-nz commented on #63
@n0490b Correct! If you don't want to - I'll try and bring it in this weekend sometime. If you can't wait until then, be my guest 😊

[2021-04-28 23:01] n0490b commented on #63
@jdouglas-nz done

[2021-05-02 20:12] #63 closed

[2021-05-18 13:33] wassupdoc commented on #59
Any update on this?  I just started using the plugin today and ran across this issue with the SPM packages being changed to generic names

[2021-05-20 15:05] slorber commented on #50
Hi,

Had the problem, and figured out that it's not a problem of xcodeprof location (it emits a different error message).

In my case it was due to using a bad target name.
For some reasons we updated our app and added a capital letter to the target, leading to this fastlane script failing.

Having a better error message in case of bad target would be helpful, had to look at ruby source code to un

[2021-07-10 03:46] jdouglas-nz commented on #59
Folks! Xcodeproj just pushed an update out - I wrote some tests on my fork, and the tests pass! could one of you pls try target my [PR Branch](https://github.com/SiarheiFedartsou/fastlane-plugin-versioning/pull/66) and see if this fixes it for you? TY

[2021-07-11 03:17] simondelphia commented on #59
Thanks for following up — I'm not seeing any of the changes I

Unfortunately I am getting four lines of things labeled as "(null)" converting to "BuildFile" (not sure what it is)

And then a whole bunch of Swift Package references getting ".git" appended to them:

And these changes disappear if I make any manual changes to my project file.

[2021-07-11 03:24] simondelphia commented on #59
Seems to be the same result as what I posted here https://github.com/SiarheiFedartsou/fastlane-plugin-versioning/issues/59#issuecomment-804354889

[2021-07-11 03:26] simondelphia commented on #59
Note I just updated my Pluginfile to

I assume there wasn't anything else I would have needed to do?

[2021-07-11 04:51] jdouglas-nz commented on #59
yeah, @simondelphia , I would assume that is all you have to do.

This `(null)` stuff might be a different issue.

I was in the process of writing a horrible hack to fix this - which involves moving the project file to a temp directory, creating a git repo, making the change, then seeing if there are any bashed SwiftPM stuff.. It feels.. pretty horrible tbh.

I'm not sure what else I can/should do

[2021-07-11 04:54] jdouglas-nz commented on #59
I'll push out a release (which is basically just a `bundle update`, and a test that used to fail). Afterwards, I'll create a new issue re: the magical `(null)`, and then see what I can do about that. It could well be that something about the `gem 'fastlane-plugin-versioning', git: 'my-fork', branch: 'my branch'` could be doing something too.

[2021-07-11 05:12] jdouglas-nz commented on #57
@devzhr  - I'm wondering if this issue is still at large now? I just pushed essentially a dependency bump which has an updated version of the xcodeproj gem. Hopefully this addresses your issue? 🤞

[2021-07-11 05:13] #41 closed

[2021-07-11 15:00] simondelphia commented on #59
What about the `.git` suffixes appended to some of the Swift Package manager references? You're not seeing that at all in your tests? If didn't seem to happen on all Swift Packages… not sure why it would happen only for some.

I'm not sure what that means.

If I just move a file around in Xcode the only changes to my project are the file that's been moved around. I was just saying that after runni

[2021-07-12 12:54] lukeredpath commented on #59
I can confirm that the latest version of this gem from `master` fixes this issue for me.

I also noticed the same issue as @simondelphia with `.git` suffixes being added - this appears to only happen if you are referencing that package using a `.git` URL in either your Xcode project SPM package list or in any local Package.swift files you might have in your project. I have resolved this issue by e

[2021-07-12 14:19] simondelphia commented on #59
@jdouglas-nz will you be adding a new release tag?

[2021-07-12 14:59] simondelphia commented on #59
I'm going to go ahead and close this because it's working for me and seems like it worked for @donileo too.
Thanks again for the follow-up @jdouglas-nz, this will be really helpful for our CD.

[2021-07-12 14:59] #59 closed

[2021-07-12 19:04] jdouglas-nz commented on #59
Amazing !!

I might put something in the readme, at least until xcodeproj/Xcode SwiftPM stabilises 😅

[2021-07-17 01:50] #60 closed

[2021-10-18 14:35] ansf opened #68 "Provide a changelog"
Could you please provide a changelog or annotate the releases accordingly? It would be nice to know what changed when updating this plugin.

Thanks!

[2021-11-02 07:18] jdouglas-nz commented on #68
hey @ansf, thanks for creating an issue.
I just found that github makes it really easy to do based on tags - and will generate release notes for me. pretty nifty.
I'll start with that if you don't mind 😅
Hopefully you find what you're looking for in it - otherwise please feel free to comment on this issue again

[2021-11-02 08:28] ansf commented on #68
that's awesome. thank you so much :)

[2021-11-02 08:28] #68 closed

[2022-05-20 01:09] lhunath opened #72 "Increment at the project instead of the target level."
It would be great if we could make `increment_build_number_in_xcodeproj` and `increment_version_number_in_xcodeproj` modify the `CURRENT_PROJECT_VERSION` and `MARKETING_VERSION` values at the *project* level instead of at an individual target level.

This is especially useful when you are releasing an application that includes multiple targets:
- an application with an extension
- an application w

[2022-05-29 06:33] jdouglas-nz commented on #72
Hey @lhunath. That's not a bad idea! I'll have a play with this and see what I can do 👌

[2022-11-10 11:16] carmelogallo-foodics commented on #72
Hi @jdouglas-nz! Any news on this?